<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570110559067-m7m1lvva67p71pohp34ljdddhcru55np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570110559067-m7m1lvva67p71pohp34ljdddhcru55np</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570110559067-a9s9lopvguskakf5v102vn4av5hegmdu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC74Yv5ZBZDMcTai_QaeYFHZ3D1pKGe3bk</string>
	<key>GCM_SENDER_ID</key>
	<string>570110559067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blink.cbt</string>
	<key>PROJECT_ID</key>
	<string>blink-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>blink-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570110559067:ios:d875ec3796b1bdc630507e</string>
	<key>DATABASE_URL</key>
	<string>https://blink-uat-default-rtdb.firebaseio.com</string>
</dict>
</plist>